policy_module(asusd, 0.1)

########################################
#
# Declarations
#
type asusd_t;
type asusd_exec_t;
init_daemon_domain(asusd_t, asusd_exec_t)

type asusd_etc_t;
files_config_file(asusd_etc_t)

########################################
#
# Local policy
#
read_files_pattern(asusd_t, asusd_etc_t, asusd_etc_t)
watch_files_pattern(asusd_t, asusd_etc_t, asusd_etc_t)
write_files_pattern(asusd_t, asusd_etc_t, asusd_etc_t)

fs_read_cgroup_files(asusd_t)
allow asusd_t self:netlink_kobject_uevent_socket create_socket_perms ;

optional_policy(`
  require {
    type sysfs_t;
  }
  
  dev_rw_sysfs(asusd_t)
  watch_files_pattern(asusd_t, sysfs_t, sysfs_t)
')

optional_policy(`
  udev_read_pid_files(asusd_t)
')

optional_policy(`
	dbus_connect_system_bus(asusd_t)
	dbus_system_bus_client(asusd_t)
')

optional_policy(`
  userdom_dbus_send_all_users(asusd_t)
')
