policy_module(asusd, 0.1)

type asusd_t;

type asusd_exec_t;
corecmd_executable_file(asusd_exec_t)

init_daemon_domain(asusd_t, asusd_exec_t)

type asusd_etc_t;
files_config_file(asusd_etc_t)

read_files_pattern(asusd_t, asusd_etc_t, asusd_etc_t)
watch_files_pattern(asusd_t, asusd_etc_t, asusd_etc_t)
write_files_pattern(asusd_t, asusd_etc_t, asusd_etc_t)

dev_rw_sysfs(asusd_t)
udev_read_pid_files(asusd_t)
fs_read_cgroup_files(asusd_t)

optional_policy(`
  dbus_read_pid_files(asusd_t)
  dbus_stream_connect_system_dbusd(asusd_t)
  dbus_system_bus_client(asusd_t)
')


#============= ToDo ==============
#allow asusd_t self:netlink_kobject_uevent_socket { bind create getattr getopt setopt };
#allow asusd_t self:netlink_kobject_uevent_sock create_socket_perms;
#allow asusd_t sysfs_t:file watch;
