## <summary>policy for asusd</summary>

########################################
## <summary>
##	Send and receive messages from
##	asusd over dbus.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`asusd_dbus_chat',`
	gen_require(`
		type asusd_t;
		class dbus send_msg;
	')

	allow $1 asusd_t:dbus send_msg;
	allow asusd_t $1:dbus send_msg;
')